i {
    color: blueviolet;
    border: 2px dashed black;
    border-radius: 20%;
    background-color: aliceblue;

}

.buttonpoke {
    border: 2px solid violet;
    color: silver;
    border-radius: 30%;
}